@mixin border($c:10px){
	-webkit-border-radius: $c;
	   -moz-border-radius: $c;
		-ms-border-radius: $c;
		 -o-border-radius: $c;
		    border-radius: $c;
}
body{
	background-image: url(../image/bg1.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.top{
	width: 100%;
	height: 78px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	.logo{
		width: 54px;
		height: 50px;
		background: url(../image/pic.png) 7px -86px no-repeat;
		float: left;
		margin-left: 3%;
		margin-top: 15px;
	}
	.tit{
		font-size: 26px;
		font-size: 2.6rem;
		color: #00305B;
		line-height: 78px;
		float: left;
		margin-left: 6%;
	}
	.nav{
		font-size: 12px;
		font-size: 1.2rem;
		float: right;
		margin: 28px 39px 0 0;
			a{
			color: #0F4C85;
			margin: 0 10px;
			&:hover{
				color: #41B7C4;
			}
		}
	}
	.menu{
		font-size: 22px;
		font-size: 2.2rem;
		font-family: "iconfont";
		float: right;
		display: none;
		color: #0F4C85;
		margin-top: 28px;
		margin-right: 6%;
	}
}
.cons1{
	height: 807px;
	background-color: rgba(15,76,133,0.5);
	margin-top: 78px;
	overflow: hidden;
	.visib1{
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
		display: none;
			.word1,.word2{
			font-size: 42px;
			font-size: 4.2rem;
			color: #fff;
			margin-top: 388px;
			margin-left: 15px;
		}
		.word2{
			margin-top: 0;
		}
		.word3,.word4{
			font-size: 18px;
			font-size: 1.8rem;
			color: #fff;
			margin-top: 45px;
			margin-left: 15px;
		}
		.word4{
			margin-top: 0;
		}
	}
}
	
	
.cons2{
	height: 640px;
	background: #eaf4f6;
	.con1{
		width: 40%;
		height: 100%;
		float: left;
			.con1-w{
			width: 210px;
			margin-top: 95px;
			margin-right: 37%;
			float: right;
			display: none;
				.word5,.word6{
				font-size: 42px;
				font-size: 4.2rem;
				color: #00305B;
			}
		}
	}
	.con2{
		height: 100%;
		background: #fff;
		overflow: hidden;
		.list{
			margin: 75px 0 36px 12%;
			display: none;
			.dot{
				width: 10px;
				height: 10px;
				background: #41b7c4;
				display: inline-block;
			}
			.word7{
				font-size: 20px;
				font-size: 2.0rem;
				color: #00305B;
				margin: 0 42px 0 12px;
			}
			.circ{
				width: 40px;
				height: 40px;
				border-radius: 20px;
				background: #2b6ca3;
				font-size: 16px;
				font-size: 1.6rem;
				color: #fff;
				text-align: center;
				line-height: 40px;
				display: inline-block;
			}
			.word8{
				width: 550px;
				font-size: 14px;
				font-size: 1.4rem;
				color: #0F4C85;
				margin-top: 15px;
				margin-left: 20px;
			}
		}
		.list.h1{
			margin-top: 0;
		}
	}
}	
.cons3{
	height: 900px;
	background: #00305b;
	overflow: hidden;
	.title1{
		font-size: 42px;
		font-size: 4.2rem;
		color: #fff;
		margin-top: 105px;
		text-align: center;
	}
	.con3{
		width: 903px;
		height: 555px;
		background: #eaf4f6;
		margin: 10px auto 0;
		overflow: hidden;
		.list2{
			margin: 55px 0 0 84px;
			display: none;
			.dot2{
				width: 10px;
				height: 10px;
				background: #41b7c4;
				display: inline-block;
			}
			.word9{
				font-size: 20px;
				font-size: 2.0rem;
				color: #00305B;
				margin: 0 42px 0 12px;
			}
			.circ2{
				width: 40px;
				height: 40px;
				@include border(20px);
				background: #2b6ca3;
				font-size: 16px;
				font-size: 1.6rem;
				color: #fff;
				text-align: center;
				line-height: 40px;
				display: inline-block;
			}
			.word10{
				width: 715px;
				font-size: 14px;
				font-size: 1.4rem;
				color: #0F4C85;
				margin-top: 15px;
				margin-left: 20px;
			}
		}
		.list2.h2{
			margin-top: 40px;
		}
	}
}	
.cons4{
	height: 410px;
	background: #0F4C85;
	opacity: 0.2;
}
.cons5{
	height: 795px;
	background: #eaf4f6;
	.visib2{
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
		background: url(../image/bor.png) 73px 0 repeat-y;
		position: relative;
		display: none;
	}
	.title2{
		font-size: 42px;
		font-size: 4.2rem;
		color: #00305B;
		margin: 115px 0 50px 0;
		text-align: center;
	}
	.con5{
		margin-left: 50px;
		margin-top: 40px;
		.icon1{
			width: 45px;
			height: 45px;
			background: url(../image/pic.png) 0 -32px no-repeat;
			display: inline-block;
			vertical-align: top;
			&:hover{
				background: url(../image/pic.png) -68px -32px;
			}
		}
		.intro{
			width: 165px;
			font-size: 20px;
			font-size: 2.0rem;
			text-align: center;
			display: inline-block;
			margin-left: 30px;
			vertical-align: top;
			.intro1{
				color: #00305B;
			}
			.intro2{
				font-size: 16px;
				color: #377DBD;
			}
		}
		.word11{
			width: 610px;
			font-size: 16px;
			font-size: 1.6rem;
			color: #00305B;
			display: inline-block;
			margin-left: 33px;
		}
	}	
}	
.cons6{
	height: 725px;
	background: url(../image/bg2.jpg) no-repeat;
	background-size: cover;
	.con6{
		width: 40%;
		height: 100%;
		background-color: rgba(15,76,133,0.9);
		float: left;
		.con6-w{
			margin-top: 138px;
			float: right;
			margin-right: 13%;
			display: none;
			.title3,.word12,.word13{
				font-size: 42px;
				font-size: 4.2rem;
				color: #fff;
			}
			.word12,.word13{
				margin-top: 0;
			}
		}
	}
	.con7{
		height: 100%;
		background-color: rgba(15,76,133,0.7);
		overflow: hidden;
		position: relative;
		.adress{
			margin-top: 135px;
			margin-left: 135px;
			color: #fff;
			display: none;
			.word14{
				font-size: 20px;
				font-size: 2.0rem;
				margin-bottom: 35px;
			}
			.word15,.word16,.word17{
				font-size: 16px;
				font-size: 1.6rem;
				line-height: 24px;
			}
			.word18,.word19{
				font-size: 18px;
				font-size: 1.8rem;
				color: #90D1D8;
			}
			.word18{
				width: 100px;
				height: 40px;
				margin-top: 32px;
				@include border(4px);
				text-align: center;
				line-height: 40px;
				background: #0F4C85;
				box-shadow: 1px 3px 3px lighten(#0F4C85,10%);
				&:active{
					box-shadow: 1px 3px 3px darken(#0F4C85,10%) inset;
				}
			}
			.icons{
				position: absolute;
				top: 607px;
				left: 140px;
			}
		}
	}
}		
.cons7{
	height: 79px;
	background: #00305b;
	overflow: hidden;
	.icons4{
		display: block;
		width: 19px;
		height: 10px;
		background: url(../image/pic.png) 0 -7px;
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotadegte(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
		margin: 14px auto 14px;
	}
	.word20{
		font-size: 16px;
		font-size: 1.6rem;
		color: #fff;
		text-align: center;
	}
}
.cons8{
	height: 107px;
	background-color: rgba(15,76,133,0.5);
	overflow: hidden;
	.word21{
		font-size: 14px;
		font-size: 1.4rem;
		color: #0F4C85;
		text-align: center;
		margin-top: 25px;
	}
}		
.top1{
	width: 40px;
	height: 40px;
	background-color: rgba(15,76,133,0.9);
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
}
.map{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	#allmap{
		width: 100%;
		height: 100%;
		display: none;	
	}
}
.close{
	// width: 14px;
	// height: 14px;
	// @include border(7px);
	font-family: "iconfont";
	font-size: 20px;
	// background: #000;
	// color: #fff;
	// line-height: 14px;
	// text-align: center;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	display: none;
}
@media screen and (max-width: 970px){
	.top{
		.menu{
			display: block;
			}
		.menu.h + .nav{
			display: none;
		}
		.nav{
			width: 100%;
			background-color: rgba(15,76,133,0.8);
			margin: 0;
			position: fixed;
			top: 78px;
			right: 0;
			a{
				font-size: 16px;
				font-size: 1.6rem;
				display: block;
				margin: 0 0 5px 0;
				text-align: center;
				color: #fff;
			}
		}
		.tit{
			font-size: 18px;
			font-size: 1.8rem;
		}
	}				
	.cons1{
		height: auto;
		.visib1{
			width: 100%;
			padding-left: 3%;
			display: block;
			.word1{
				font-size: 26px;
				font-size: 2.6rem;
				margin-top: 30%;
			}
			.word2{
				font-size: 26px;
				font-size: 2.6rem;
			}
			.word4{
				margin-bottom: 30%;
			}
		}
	}
	.cons2{
		height: auto;
		.con1{
			display: none;
			.con1-w{
				display: block;
			}
		}
		.con2{
			.list{
				width: 90%;
				margin: 75px auto 0;
				display: block;
				.word8{
					width: 90%;
					margin-left: 5%;
					margin-bottom: 20px;
				}
			}
		}
	}
	.cons3{
		height: auto;
		.title1{
			margin-top: 0;
			line-height: 100px;
		}
		.con3{
			width: 100%;
			height: auto;
			.list2{
				width: 90%;
				margin: 55px auto 0;
				display: block;
				.word10{
					width: 90%;
					margin-left: 5%;
					margin-bottom: 20px;
				}
			}
		}
	}
	.cons4{
		height: 200px;
	}
	.cons5{
		height: auto;
		.visib2{
			width: 100%;
			background: none;
			display: block;
		}
		.title2{
			margin-top: 50px;
		}
		.con5{
			width: 90%;
			margin-left: 5%;
			.word11{
				width: 90%;
				font-size: 16px;
				font-size: 1.6rem;
				color: #00305B;
				display: block;
				margin-left: 5%;
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}
	}
	.cons6{
		.con6{
			width: 100%;
			height: 50%;
			.con6-w{
				margin-top: 100px;
				float: left;
				margin-left: 5%;
				display: block;
				.word12,.word13{
					margin-top: 0;
				}
				.title3,.word12,.word13{
					font-size: 32px;
					font-size: 3.2rem;
					color: #fff;
				}
			}
		}
		.con7{
			width: 100%;
			height: 50%;
			background-color: rgba(15,76,133,0.7);
			overflow: hidden;
			position: relative;
			.adress{
				margin-top: 50px;
				margin-left: 5%;
				color: #fff;
				display: block;
				.icons{
					position: absolute;
					top: 300px;
					left: 5%;
				}
			}
		}
	}
}